*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: arial, sans-serif;
  font-weight: bold;
  color: white;
  position: relative;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

p::first-letter {
  text-transform: capitalize;
}

img {
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

.app {
  height: 100%;
  width: 90%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app__background-img {
  filter: blur(2px);
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.app__background-img img {
  opacity: 0;
  transition: opacity 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}

.app__search {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.3rem;
}

.app__search-bar,
.app__search-btn {
  opacity: 40%;
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
}

.app__search-bar,
.app__search-bar::placeholder {
  font-size: 1rem;
  font-weight: inherit;
  color: gray;
  width: 100%;
  text-align: center;
}

.app__search-bar:hover,
.app__search-btn:hover {
  opacity: 100%;
  transition: 0.2s;
}

.app__search-btn {
  cursor: pointer;
  border-radius: 50%;
  width: 55px;
  margin-left: 1rem;
}

.app__search-btn svg {
  color: gray;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation
   */
  border-right: 0.15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 0.5s steps(15, end), blink-caret 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.app__error-city {
  font-size: 0.7rem;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 2rem;
  color: red;
  visibility: hidden;
}

.display {
  visibility: visible;
}

.app__location-subtitle {
  opacity: 40%;
  font-size: clamp(1rem, 6vw, 2rem);
}

.app__location-name {
  font-size: clamp(1.5rem, 8vw, 3rem);
  margin: 0;
  margin-bottom: 1rem;
  padding-right: 0.3rem;
}

.app__temp {
  font-size: clamp(5rem, 20vw, 8rem);
  font-weight: bold;
  color: white;
  line-height: 0.8;
  margin: 1.5rem 0;
}

.app__temp img {
  transform: scale(20%);
}

.app__unit-symbol {
  font-size: clamp(1.3rem, 5vw, 2rem);
  vertical-align: top;
  top: 0;
}

.app__weather-description {
  font-size: clamp(1.3rem, 4vw, 1.5rem);
  font-weight: bold;
  margin-bottom: 2rem;
}

.app__humidity,
.app__wind-speed {
  font-size: clamp(1rem, 3vw, 1.2rem);
  opacity: 40%;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 480px) {
  .app__search-btn {
    display: none;
  }

  .app__search-bar::placeholder {
    font-size: 0.85rem;
  }
}
